@use "../../responsive/responsive-config.generated" as config;
@use "../../responsive/breakpoint-responsiveness" as responsive;
@use "./grid-functions.example" as grid;

@each $variant in config.$ds-grid-variants {
  :where(html, body)[data-grid-type="#{$variant}"] {
    $first: true;
    @each $breakpoint in config.$ds-breakpoint-order {
      @if grid.has-grid-breakpoint($variant, $breakpoint) {
        @if $first {
          @include grid.apply-grid-contract($variant, $breakpoint);
          $first: false;
        } @else {
          @include responsive.breakpoint($breakpoint) {
            @include grid.apply-grid-contract($variant, $breakpoint);
          }
        }
      }
    }
  }
}

.ds-grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
  column-gap: var(--grid-column-gap);
  width: 100%;
  padding-inline: var(--grid-margin);
}

.ds-grid-full-width {
  grid-column: 1 / -1;
}
